USE [ferchoMF_TopTusDBuno]
GO
/****** Object:  Table [dbo].[region]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[region](
	[RegionId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Region] [text] NOT NULL,
	[Code] [text] NOT NULL,
	[ADM1Code] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[region] ([RegionId], [CountryId], [Region], [Code], [ADM1Code]) VALUES (1, 14, N'Victoria', N'VI', N'AS07')
INSERT [dbo].[region] ([RegionId], [CountryId], [Region], [Code], [ADM1Code]) VALUES (2, 14, N'Tasmania', N'TS', N'AS06')
INSERT [dbo].[region] ([RegionId], [CountryId], [Region], [Code], [ADM1Code]) VALUES (3, 14, N'Queensland', N'QL', N'AS04')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
/****** Object:  Table [dbo].[Comprador]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprador](
	[comprador_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](40) NOT NULL,
	[apellido_m] [nvarchar](40) NOT NULL,
	[apellido_p] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comprador_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[categoria_descr] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON
INSERT [dbo].[Categoria] ([categoria_id], [categoria_descr]) VALUES (1, N'Hogar')
INSERT [dbo].[Categoria] ([categoria_id], [categoria_descr]) VALUES (2, N'Deportes')
INSERT [dbo].[Categoria] ([categoria_id], [categoria_descr]) VALUES (3, N'Electronica')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
/****** Object:  Table [dbo].[paises]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[CountryId] [int] NOT NULL,
	[Country] [text] NOT NULL,
	[FIPS104] [text] NOT NULL,
	[ISO2] [text] NOT NULL,
	[ISO3] [text] NOT NULL,
	[ISON] [text] NOT NULL,
	[Internet] [text] NOT NULL,
	[Capital] [text] NOT NULL,
	[MapReference] [text] NOT NULL,
	[NationalitySingular] [text] NOT NULL,
	[NationalityPlural] [text] NOT NULL,
	[Currency] [text] NOT NULL,
	[CurrencyCode] [text] NOT NULL,
	[Population] [text] NOT NULL,
	[Title] [text] NOT NULL,
	[Comment] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[paises] ([CountryId], [Country], [FIPS104], [ISO2], [ISO3], [ISON], [Internet], [Capital], [MapReference], [NationalitySingular], [NationalityPlural], [Currency], [CurrencyCode], [Population], [Title], [Comment]) VALUES (1, N'Afghanistan', N'AF', N'AF', N'AFG', N'4', N'AF', N'Kabul ', N'Asia ', N'Afghan', N'Afghans', N'Afghani ', N'AFA', N'26813057', N'Afghanistan', N'')
INSERT [dbo].[paises] ([CountryId], [Country], [FIPS104], [ISO2], [ISO3], [ISON], [Internet], [Capital], [MapReference], [NationalitySingular], [NationalityPlural], [Currency], [CurrencyCode], [Population], [Title], [Comment]) VALUES (2, N'Albania', N'AL', N'AL', N'ALB', N'8', N'AL', N'Tirana ', N'Europe ', N'Albanian', N'Albanians', N'Lek ', N'ALL', N'3510484', N'Albania', N'')
INSERT [dbo].[paises] ([CountryId], [Country], [FIPS104], [ISO2], [ISO3], [ISON], [Internet], [Capital], [MapReference], [NationalitySingular], [NationalityPlural], [Currency], [CurrencyCode], [Population], [Title], [Comment]) VALUES (3, N'Algeria', N'AG', N'DZ', N'DZA', N'12', N'DZ', N'Algiers ', N'Africa ', N'Algerian', N'Algerians', N'Algerian Dinar ', N'DZD', N'31736053', N'Algeria', N'')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[SuperAdmin]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperAdmin](
	[superadmin_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](40) NOT NULL,
	[apellido_m] [nvarchar](40) NOT NULL,
	[apellido_p] [nvarchar](40) NOT NULL,
	[usuario] [nvarchar](30) NOT NULL,
	[pass] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[superadmin_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SuperAdmin] ON
INSERT [dbo].[SuperAdmin] ([superadmin_id], [nombre], [apellido_m], [apellido_p], [usuario], [pass]) VALUES (1, N'Luis', N'Hernández', N'Mañón', N'fer', N'fer')
INSERT [dbo].[SuperAdmin] ([superadmin_id], [nombre], [apellido_m], [apellido_p], [usuario], [pass]) VALUES (2, N'Sergio', N'Amaya', N'Montoya', N'Sergio', N'qwerty12')
SET IDENTITY_INSERT [dbo].[SuperAdmin] OFF
/****** Object:  Table [dbo].[TipoVendedor]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoVendedor](
	[tipovendedor_id] [int] IDENTITY(1,1) NOT NULL,
	[tipovendedor_descr] [nvarchar](40) NOT NULL,
	[categorias] [int] NOT NULL,
	[prodcutos] [int] NOT NULL,
	[img_prod] [int] NOT NULL,
	[chat_negocios] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipovendedor_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TipoVendedor] ON
INSERT [dbo].[TipoVendedor] ([tipovendedor_id], [tipovendedor_descr], [categorias], [prodcutos], [img_prod], [chat_negocios]) VALUES (1, N'Premium', 3, 5, 5, 1)
INSERT [dbo].[TipoVendedor] ([tipovendedor_id], [tipovendedor_descr], [categorias], [prodcutos], [img_prod], [chat_negocios]) VALUES (2, N'Light', 2, 3, 3, 1)
INSERT [dbo].[TipoVendedor] ([tipovendedor_id], [tipovendedor_descr], [categorias], [prodcutos], [img_prod], [chat_negocios]) VALUES (3, N'Free', 1, 2, 2, 0)
SET IDENTITY_INSERT [dbo].[TipoVendedor] OFF
/****** Object:  Table [dbo].[Timeline]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeline](
	[timeline_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[titulo] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](300) NOT NULL,
	[comprador_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[timeline_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[vendedor_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](40) NOT NULL,
	[apellido_m] [nvarchar](40) NOT NULL,
	[apellido_p] [nvarchar](40) NOT NULL,
	[email] [nvarchar](60) NOT NULL,
	[pass] [nvarchar](30) NOT NULL,
	[fecha_solicitud] [date] NOT NULL,
	[fecha_ingreso] [date] NULL,
	[tipovendedor_id] [int] NOT NULL,
	[rfc] [nvarchar](14) NOT NULL,
	[empresa] [nvarchar](100) NOT NULL,
	[pais_id] [int] NOT NULL,
	[estado_id] [int] NOT NULL,
	[ciudad] [nvarchar](60) NOT NULL,
	[colonia] [nvarchar](60) NOT NULL,
	[calle] [nvarchar](60) NOT NULL,
	[calle_num] [nvarchar](10) NULL,
	[calle_num_int] [nvarchar](10) NULL,
	[lada_pais] [int] NULL,
	[lada_ciudad] [int] NULL,
	[telefono] [nvarchar](15) NULL,
	[extension] [int] NULL,
	[imagen] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[vendedor_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vendedor] ON
INSERT [dbo].[Vendedor] ([vendedor_id], [nombre], [apellido_m], [apellido_p], [email], [pass], [fecha_solicitud], [fecha_ingreso], [tipovendedor_id], [rfc], [empresa], [pais_id], [estado_id], [ciudad], [colonia], [calle], [calle_num], [calle_num_int], [lada_pais], [lada_ciudad], [telefono], [extension], [imagen]) VALUES (1, N'Fernando', N'Hernandez', N'Mañon', N'luisfernandomtv@hotmail.com', N'fer', CAST(0xD5380B00 AS Date), CAST(0xDE380B00 AS Date), 1, N'ASDF121212DE4', N'Fercho', 1, 1, N'Celaya', N'Centro', N'Calle', N'105', N'A', 52, 461, N'1231231', NULL, NULL)
INSERT [dbo].[Vendedor] ([vendedor_id], [nombre], [apellido_m], [apellido_p], [email], [pass], [fecha_solicitud], [fecha_ingreso], [tipovendedor_id], [rfc], [empresa], [pais_id], [estado_id], [ciudad], [colonia], [calle], [calle_num], [calle_num_int], [lada_pais], [lada_ciudad], [telefono], [extension], [imagen]) VALUES (2, N'Sergio', N'Amaya', N'Montoya', N'sa.amayamontoya@gmail.com', N'qwerty12', CAST(0xF4380B00 AS Date), CAST(0xFD380B00 AS Date), 2, N'AAMS121212WE3', N'Serch', 1, 1, N'Celaya', N'Centro', N'Calle', N'106', N'B', 52, 461, N'2342342', NULL, NULL)
INSERT [dbo].[Vendedor] ([vendedor_id], [nombre], [apellido_m], [apellido_p], [email], [pass], [fecha_solicitud], [fecha_ingreso], [tipovendedor_id], [rfc], [empresa], [pais_id], [estado_id], [ciudad], [colonia], [calle], [calle_num], [calle_num_int], [lada_pais], [lada_ciudad], [telefono], [extension], [imagen]) VALUES (3, N'Carlos', N'Peinado', N'Buenrrostro', N'carlitos@hotmail.com', N'carlos', CAST(0xD5380B00 AS Date), CAST(0xF4380B00 AS Date), 3, N'QWER123456DE3', N'Carlos', 1, 1, N'Celaya', N'Centro', N'Calle', N'105', N'A', 52, 461, N'1231231', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vendedor] OFF
/****** Object:  Table [dbo].[SubCategoria]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoria](
	[subcategoria_id] [int] IDENTITY(1,1) NOT NULL,
	[subcategoria_descr] [nvarchar](40) NOT NULL,
	[categoria_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subcategoria_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SubCategoria] ON
INSERT [dbo].[SubCategoria] ([subcategoria_id], [subcategoria_descr], [categoria_id]) VALUES (1, N'Decoraciones', 1)
INSERT [dbo].[SubCategoria] ([subcategoria_id], [subcategoria_descr], [categoria_id]) VALUES (2, N'Plantas', 1)
INSERT [dbo].[SubCategoria] ([subcategoria_id], [subcategoria_descr], [categoria_id]) VALUES (3, N'Soccer', 2)
SET IDENTITY_INSERT [dbo].[SubCategoria] OFF
/****** Object:  Table [dbo].[Redes_Sociales]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Redes_Sociales](
	[redes_id] [int] IDENTITY(1,1) NOT NULL,
	[vendedor_id] [int] NOT NULL,
	[facebook] [nvarchar](128) NULL,
	[twitter] [nvarchar](128) NULL,
	[googleplus] [nvarchar](128) NULL,
	[instagram] [nvarchar](128) NULL,
	[linkedin] [nvarchar](128) NULL,
	[otra] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[redes_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[producto_id] [int] IDENTITY(1,1) NOT NULL,
	[producto] [nvarchar](40) NOT NULL,
	[producto_descr] [nvarchar](40) NOT NULL,
	[vendedor_id] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[oferta] [bit] NOT NULL,
	[porcentaje_oferta] [int] NOT NULL,
	[precio_oferta] [money] NULL,
	[disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Producto] ON
INSERT [dbo].[Producto] ([producto_id], [producto], [producto_descr], [vendedor_id], [precio], [oferta], [porcentaje_oferta], [precio_oferta], [disponible]) VALUES (1, N'Cortina', N'Cortina de tela 3m x 4m', 1, 99.9900, 0, 0, NULL, 1)
INSERT [dbo].[Producto] ([producto_id], [producto], [producto_descr], [vendedor_id], [precio], [oferta], [porcentaje_oferta], [precio_oferta], [disponible]) VALUES (2, N'Balon Soccer', N'Balon Soccer', 2, 99.9900, 0, 0, NULL, 1)
INSERT [dbo].[Producto] ([producto_id], [producto], [producto_descr], [vendedor_id], [precio], [oferta], [porcentaje_oferta], [precio_oferta], [disponible]) VALUES (3, N'Balon Futbol', N'Balon Futbol', 2, 99.9900, 0, 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
/****** Object:  Table [dbo].[img_prod_detail]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img_prod_detail](
	[img_prod_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[producto_id] [int] NOT NULL,
	[vendedor_id] [int] NOT NULL,
	[img_ruta] [nvarchar](10) NOT NULL,
	[img_title] [nvarchar](50) NOT NULL,
	[img_descr] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[img_prod_detail_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anuncio]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anuncio](
	[anuncio_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[titulo] [nvarchar](40) NOT NULL,
	[descripcion] [nvarchar](40) NOT NULL,
	[vendedor_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[anuncio_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prod_cate]    Script Date: 01/01/2015 19:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prod_cate](
	[producto_id] [int] NOT NULL,
	[categoria_id] [int] NOT NULL,
	[subcategoria_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC,
	[categoria_id] ASC,
	[subcategoria_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[prod_cate] ([producto_id], [categoria_id], [subcategoria_id]) VALUES (1, 1, 1)
INSERT [dbo].[prod_cate] ([producto_id], [categoria_id], [subcategoria_id]) VALUES (2, 2, 3)
INSERT [dbo].[prod_cate] ([producto_id], [categoria_id], [subcategoria_id]) VALUES (3, 2, 5)
/****** Object:  Default [DF__Producto__porcen__25869641]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [porcentaje_oferta]
GO
/****** Object:  ForeignKey [FK__Timeline__compra__403A8C7D]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Timeline]  WITH CHECK ADD FOREIGN KEY([comprador_id])
REFERENCES [dbo].[Comprador] ([comprador_id])
GO
/****** Object:  ForeignKey [FK__Vendedor__estado__1273C1CD]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD FOREIGN KEY([estado_id])
REFERENCES [dbo].[region] ([RegionId])
GO
/****** Object:  ForeignKey [FK__Vendedor__pais_i__117F9D94]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD FOREIGN KEY([pais_id])
REFERENCES [dbo].[paises] ([CountryId])
GO
/****** Object:  ForeignKey [FK__Vendedor__tipove__108B795B]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD FOREIGN KEY([tipovendedor_id])
REFERENCES [dbo].[TipoVendedor] ([tipovendedor_id])
GO
/****** Object:  ForeignKey [FK__SubCatego__categ__1FCDBCEB]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[SubCategoria]  WITH CHECK ADD FOREIGN KEY([categoria_id])
REFERENCES [dbo].[Categoria] ([categoria_id])
GO
/****** Object:  ForeignKey [FK__Redes_Soc__vende__173876EA]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Redes_Sociales]  WITH CHECK ADD FOREIGN KEY([vendedor_id])
REFERENCES [dbo].[Vendedor] ([vendedor_id])
GO
/****** Object:  ForeignKey [FK__Producto__vended__24927208]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([vendedor_id])
REFERENCES [dbo].[Vendedor] ([vendedor_id])
GO
/****** Object:  ForeignKey [FK__img_prod___produ__30F848ED]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[img_prod_detail]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Producto] ([producto_id])
GO
/****** Object:  ForeignKey [FK__img_prod___vende__31EC6D26]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[img_prod_detail]  WITH CHECK ADD FOREIGN KEY([vendedor_id])
REFERENCES [dbo].[Vendedor] ([vendedor_id])
GO
/****** Object:  ForeignKey [FK__Anuncio__product__3B75D760]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Anuncio]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Producto] ([producto_id])
GO
/****** Object:  ForeignKey [FK__Anuncio__vendedo__3A81B327]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[Anuncio]  WITH CHECK ADD FOREIGN KEY([vendedor_id])
REFERENCES [dbo].[Vendedor] ([vendedor_id])
GO
/****** Object:  ForeignKey [FK__prod_cate__categ__2B3F6F97]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[prod_cate]  WITH CHECK ADD FOREIGN KEY([categoria_id])
REFERENCES [dbo].[Categoria] ([categoria_id])
GO
/****** Object:  ForeignKey [FK__prod_cate__produ__2A4B4B5E]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[prod_cate]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Producto] ([producto_id])
GO
/****** Object:  ForeignKey [FK__prod_cate__subca__2C3393D0]    Script Date: 01/01/2015 19:42:22 ******/
ALTER TABLE [dbo].[prod_cate]  WITH CHECK ADD FOREIGN KEY([subcategoria_id])
REFERENCES [dbo].[SubCategoria] ([subcategoria_id])
GO
