body
{
   
    padding-top: 40px;
}


.input-group-addon1
{
  
    border-color: #CF3034;
    color: rgb(255, 255, 255);
      padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
   width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: table-cell;
}


.form-control:focus
{
    
    border-color: #CF3034;
    color: black;
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }